In [108]:
import pandas as pd

df = pd.read_csv('data/ex2-1.csv')
df['<AVG>'] = (df['<OPEN>'] + df['<HIGH>'] + df['<LOW>'] + df['<CLOSE>']) / 4
df['<TOTAL>'] = df['<AVG>'] * df['<VOL>']

df['<DATE>'] = pd.to_datetime(df['<DATE>'], format='%d.%m.%Y')

df.has_nulls = df.isnull().values.any()

if df.has_nulls:
    raise Exception('There are nulls')

df

,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>,<AVG>,<TOTAL>
0,2020-09-01,10:00:00,107933,114984,107933,109653,76,110125.75,8369557.00
1,2020-09-01,10:01:00,113893,115033,108260,110409,22,111898.75,2461772.50
2,2020-09-01,10:02:00,110410,115232,107957,115218,94,112204.25,10547199.50
3,2020-09-01,10:03:00,113598,115291,108048,109899,73,111709.00,8154757.00
4,2020-09-01,10:04:00,110591,115233,108021,110062,81,110976.75,8989116.75
...,...,...,...,...,...,...,...,...,...
51721,2020-12-30,19:56:00,110783,115280,107964,108332,95,110589.75,10506026.25
51722,2020-12-30,19:57:00,110982,115230,107947,113481,92,111910.00,10295720.00
51723,2020-12-30,19:58:00,108319,115217,107935,108960,84,110107.75,9249051.00
51724,2020-12-30,19:59:00,108107,115249,108013,110556,44,110481.25,4861175.00
51725,2020-12-30,20:00:00,111840,114871,108007,110110,80,111207.00,8896560.00

In [109]:
'''
1) For each minute interval calculate the average PRICE by averaging the opening <OPEN>, closing <CLOSE>, minimum <LOW> and maximum <HIGH> prices.
Find the average price on 22.10.2020 at 19:40:00.
'''

df['<AVG>'].loc[(df['<DATE>'] == '22.10.2020') & (df['<TIME>'] == '19:40:00')].sum()

111403.25

In [110]:
'''
2) For each minute interval calculate the TOTAL turnover for the completed trades by multiplying the average PRICE by the volume<VOL>.
Find the turnover on 25.09.2020 at 14:01:00.
'''

df['<TOTAL>'].loc[(df['<DATE>'] == '25.09.2020') & (df['<TIME>'] == '14:01:00')].sum()

9329926.25

In [111]:
'''
Find the total turnover for all closed trades on 20.11.2020.
'''

df['<TOTAL>'].loc[(df['<DATE>'] == '20.11.2020')].sum()

3240508872.0

In [112]:
'''
Calculate the number of minute intervals on 18.09.2020, when the opening price was strictly greater than the closing price.
'''

len(df.loc[(df['<DATE>'] == '18.09.2020') & (df['<OPEN>'] > df['<CLOSE>'])])

286

In [113]:
'''
Find the total turnover for all trades on Thursdays of October.
'''
df['<TOTAL>'].loc[(df['<DATE>'].dt.month == 10) & (df['<DATE>'].dt.dayofweek == 3)].sum()

16384128739.5