In [7]:
import pandas as pd
import numpy as np
l = [6, 9, 5, 17, 9]
df = pd.DataFrame(l)
df

    0
0   6
1   9
2   5
3  17
4   9

In [8]:
exp_norm_df = round(1 - np.e ** (1 - df/df.min()), 2)
exp_norm_df

      0
0  0.18
1  0.55
2  0.00
3  0.91
4  0.55

In [9]:
linear_norm_df = round((df - df.min())/(df.max() - df.min()), 2)
linear_norm_df

      0
0  0.08
1  0.33
2  0.00
3  1.00
4  0.33