In [1]:
import pandas as pd
l = [5, 4, 6, 2, 1, 1, 5, 2, 5, 9, 7]
df = pd.DataFrame(l)
df

    0
0   5
1   4
2   6
3   2
4   1
5   1
6   5
7   2
8   5
9   9
10  7

In [2]:
df.median().sum()

5.0

In [3]:
df[0].mode().sum()

5

In [4]:
df[0].mean()

4.2727272727272725

In [5]:
df[0].max() - df[0].min()

8

In [6]:
df.var().sum()

6.618181818181817

In [7]:
df.std().sum()

2.572582713574399