In [17]:
import pandas as pd
import numpy as np

cols = ['Course', 'Students']
rows = [['Data preprocessing', 121], ['Data storage and processing', 4589], ['The elements of mathematical statistics', 112], ['Machine learning', 345]]

df = pd.DataFrame(columns=cols, data=rows)
df

                                    Course  Students
0                       Data preprocessing       121
1              Data storage and processing      4589
2  The elements of mathematical statistics       112
3                         Machine learning       345

In [18]:
'''
What will this data look like after applying a logarithmic transformation ln(x)? 
Calculate the values, round the obtained values to the the hundredths, insert them in the table and build a similar chart.
'''
df.Students = round(np.log(df.Students), 2)

df

                                    Course  Students
0                       Data preprocessing      4.80
1              Data storage and processing      8.43
2  The elements of mathematical statistics      4.72
3                         Machine learning      5.84